@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* ~~Responsive rules~~ */
@media screen and (max-width: 700px) {
    .main-container {
        grid-template-columns: auto !important;
    }

    .block>div {
        margin: auto;
    }

    .container{
        width: 80% !important;
    }

    .expanse{
        padding: 90px 0 0 0 !important;
    }

    .row{
        width: 100% !important;    
    }
}



    

/* ~~Global rules~~ */
:root {
    --nav-width: 240px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100%;
    text-shadow: 0 0 8px rgba(65, 65, 65, 0.15);
    /* background-image: linear-gradient(315deg, #d5adc8 30%, #ff343bdc 84%); */
}

* {
    transition-duration: 0.3s;
}

ul {
    list-style-type: square;
}


/* ~~~~ */
p {
    text-align:justify;
    line-height: 1.2em;
}

.m-l {
    margin: 15px !important;
}

/* ~~Main Container~~ */
.main-container {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

/* ~~Navbar~~ */
.nav{
    margin: 0;
    height: 100%;
    color: white;
    position: fixed;
    margin-left: -185px;
    width: var(--nav-width);
    box-shadow: none !important ;
    /* background-color: rgba(255, 255, 255, 0); */
    background-image: -moz-radial-gradient(center 45deg, circle cover, #ffffff00, #ffffff00);
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 800, from(#ffffff00), to(#ffffff00));
    background: radial-gradient(ellipse at center, #ffffff00, #ffffff00);
}


.nav>div {
    font-size: 16px;
    padding: 14px;
    display: block;
}

.nav:hover{
    margin: 0px;
    box-shadow: 0 0 8px rgba(10, 14, 224, 0.9) !important;
    /* background-color: rgba(10, 14, 224, 0.8) !important; */
    background-image: -moz-radial-gradient(center 45deg, circle cover, #0173ffab, #ffffffb0) !important;
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 800, from(#4c00ffab), to(#ffffffb0)) !important;
    background: radial-gradient(ellipse at center, #0059ff, #8d85ff) !important;
}

.brand {
    cursor: pointer;
    position: sticky;
    border-radius: 0 0 8px 0;
    font-size: 2em !important;
    color: rgb(255, 233, 233);
    background-color: rgba(10, 14, 224, 0.755);
    box-shadow: 0 4px 5px -2px rgba(38, 40, 179, 0.686);
}

/* ~~Accordion~~ */
.button {
    cursor: pointer;
    box-sizing: border-box;
}

.button:hover {
    opacity: 0.9;
}

.content {
    max-height: 0;
    transition: all 0.3s ease-in-out;
    padding-left: 20px;
    overflow: hidden;
    box-sizing: border-box;
}

#item1:checked~.content, #item2:checked~.content, #item3:checked~.content {
    margin-bottom: -20px;
    max-height: 250px;
}

.inner {
    margin-top: 6px;
}

.inner > div{
    cursor: pointer;
    padding: 8px;
}

.inner> div > a, .brand > a{
    text-decoration: none;
    color: white;
}


/* ~~Expanse~~ */
.expanse {
    display: block;
    padding: 40px;
    background: #ffdedeb0;
    /* Fallback background color for non supported browsers */
    background-image: -moz-radial-gradient(center 45deg, circle cover, #ff0126, #ffffffb0);
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 800, from(#ff0126), to(#ffffffb0));
    background: radial-gradient(ellipse at center, #ff00265b, #FFFFFF);
}


/* ~~Container~~ */
.container {
    border-radius: 5px;
    width: 60%;
    display: block;
    margin: auto;
    padding: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 20px -5px, rgba(0, 0, 0, 0.3) 0px 0px 20px -5px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.block>div {
    text-align: center;
}

/* ~~Grid Table~~ */
.row{
    table-layout: fixed;
    max-height: 600px;
    background-color: white;
    margin: auto;
    width: 60%;
    border: 1px groove;
    border-radius: 18px;
    display: grid;
    grid-template-columns: 100%;
    overflow: hidden;
}


.col:nth-child(4n-1){
    background-color: #a16b734a;
}
.col:nth-child(4n-4){
    background-color: #a16b734a;
}

.col{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-auto-flow: column;
}

.col>div{
    padding: 8px;
    word-wrap: break-word;
    text-align: center;
}

.hide-even .col:nth-child(even){
    color: rgba(255, 255, 255, 0);
    text-shadow: none;
}